form {
  background-color: white;
  padding: 20px;
  border-radius: 20px/50px;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-clip: padding-box;

  margin-top: -10rem;

}

.modal__btn {
  margin-top: 4rem;
  padding: 1rem 3rem;
  border-radius: 50rem;
  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
}


.modal__btn:nth-of-type(1) {
margin-right: 1rem;
}

.modal__btn:hover,
.modal__btn:focus {

transform: translateY(-.2rem);
}


.popup {
  font-size: 1em;
  padding: 2px;
  color: #fff;
  border: 2px solid #40b66d;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}



.optionbox{

  position: relative;
  top: 0%;
  left: 13%;
  width: 10px;
  height :20px;

}

.optionbox select {
    background: #40b66d;
    color: #fff;
    padding: 10px;
    width: 280px;
    height: 40px;
    border: none;
    font-size: 15px;
    -webkit-appearance: button;
    outline: none;
}

.optionbox:before{
  content: '\f358';
  position: absolute;

  top: 0;
  right: 0;
  height: 40px;
  width: 50px;
  background: #40b66d;
  text-align: center;
  line-height: 50px;
  color:#fff;
  font-size: 10px;
  pointer-events: none;


}

.optionbox:hover:before{

    background: #c72620;

  }

.overlay {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      background-color: white;
      box-shadow: 0px 0px 10px rgb(0, 0, 0);
      border-radius: 20px;
      padding: 60px;
    }

.overlay-container::before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(6, 19, 11, 0.5);
backdrop-filter: blur(10px);
z-index: 9998;
}


.ipaddr{
position: relative;
margin-right: 3%;
}





input[type="text"] {
background-color: transparent;
border: none;
border-bottom: 2px solid red;
font-size: 16px;
color: rgb(24, 15, 15);
padding: 10px;
transition: border-color 0.3s ease, color 0.3s ease;
}

input[type="text"]:focus,
input[type="text"]:not(:placeholder-shown) {
outline: none;
border-bottom-color: blue;
}

input[type="text"]:not(:empty) {
color: blue;
border-bottom-color: blue;
}








input[type="checkbox"] {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
width: 18px;
height: 18px;
border-radius: 2px;
border: 2px solid #ccc;
vertical-align: middle;
margin-right: 5px;
transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
background-color: #75aabd;
border-color: #75aabd;
}

input[type="checkbox"]:focus {
outline: none;
box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

input[type="checkbox"]::after {
content: "";
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 10px;
height: 6px;
border-top: 2px solid transparent;
border-left: 2px solid transparent;
border-right: 2px solid #fff;
border-bottom: 2px solid #fff;
}

input[type="checkbox"]:checked::after {
display: block;
}

input[type="checkbox"]:focus::after {
outline: none;
}



button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}
button.learn-more {
 width: 12rem;
 height: auto;
}
button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}
button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}
button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}
button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: '';
 top: -0.25rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}
button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
 opacity: 0;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}
button:hover .button-text {
 color: #fff;
 opacity: 1;

}


.btnproj{
padding-left: 170px;
}

.contenuelpopup h2{
padding-left: 5.5rem;
padding-bottom: 2rem;
}

.port {
padding: 10px;
border: none;
border-radius: 5px;
margin-right: 10px;
background-color: #f2f2f2;
font-size: 16px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.ipaddr {
padding: 10px;
border: none;
border-radius: 5px;
margin-right: 10px;
background-color: #f2f2f2;
font-size: 16px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn {
background-color: #272f3b;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 12px;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
margin-right: 0.5rem;
}

.btn2 {
background-color: #5ac57e;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 12px;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btn3 {
background-color: #c55a5a;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 2px;
font-size: 12px;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
margin-right: 0.5rem;
}

#rmv:hover {
background-color: #d90700;
transform: translateY(-2px);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


#close {
margin-top: 0.5px;
position: relative;
float: right;
padding-left: 2rem;
}
.failicon{
  width: 40px;
  position: fixed;
}