
.site-wrap {
  display: grid;
  
  grid-template-columns: 280px 1fr;
  min-height: 100vh;

  
}
.site-nav {
  background: rgb(58, 63, 75);
  color: rgb(255, 255, 255);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 2.5rem;

  margin-top: 1.5rem;
  height: 900px;
  transition: transform 0.35s;
  position: sticky;
  top: 0;
  overflow-y: scroll;



}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 6px;
  scroll-behavior: smooth;

  
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}


.site-nav a {
  color: inherit;

}
.site-nav ul {
  margin-bottom: auto;

}
.site-nav ul li a {
  display: block;
  padding: 0.75rem 0.5rem 0.75rem 2rem;
  position: relative;
}
.site-nav ul li a:hover, .site-nav ul li a:focus {
  color: #4371c5;
}
.site-nav ul li.active > a {
  background: linear-gradient(to right, #101b2d, transparent);
}
.site-nav ul li.active > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #4676cd;
  width: 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-nav ul ul {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
.site-nav ul ul a {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.note {
  width: calc(100% - 6rem);
  margin: 2rem;
  background: #171c26;
  border-radius: 10px;
  padding: 1rem;
}
.note h3 {
  font-size: 0.9rem;
  margin: 0 0 0.4rem 0;
}
.note p {
  color: #717783;
}
.name {
  font-size: 1.3rem;
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 2.5rem 0.5rem 2rem;
  width: calc(100% - 3rem);
}

main {
  background: #ebecee;
  margin-left: -2rem;
  
  position: relative;
}
main > header {
  padding: 3rem 3rem 0 3rem;
}
.content-columns {
  padding: 3rem;
  margin-left: 10px;
  display: flex;
  margin-right: 250px;
  transition: margin-right 0.5s ease-in-out;
}
.content-columns .col {
  min-height: 700px;
  width: 700px;
  padding: 1.2rem;
  background: #e5e5e9;
  margin-right: 3.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
.content-columns .col:nth-child(1) {
  border-top: 4px solid #50aaee;
}
.content-columns .col:nth-child(2) {
  border-top: 4px solid #d56ec7;
}
.content-columns .col:nth-child(3) {
  border-top: 4px solid #e37e55;
}
.content-columns .col:nth-child(4) {
  border-top: 4px solid #ebbd41;
}

.nav-tabs a {
  margin-right: 2rem;
  display: inline-block;
  padding: 1rem 0 1rem 0;
  font-size: 1.15rem;
  color: #8c939e;
  position: relative;
}
.nav-tabs a.activemic {
  color: #101620;
  font-weight: 600;
}
.nav-tabs a div .activemic {
  color: #101620;
  font-weight: 600;
}
.nav-tabs div.activemic::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #457ace;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-tabs a.activemic span {
  background: #d9dfea;
  color: #5887d1;
}
.nav-tabs a.activemic::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #457ace;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.nav-tabs a span {
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.25rem 0.4rem;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  top: -2px;
  background: #dfe0e2;
  color: #868d99;
}




/*l side nav*/

.site-nav2 {
  background: #99a2ad;
  color: white;
  border-top-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  float: right;
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  z-index: 1;
  

  
}

.site-nav2 ul {
  text-align: left;
}


.box {
  border: 3px solid #666;
  background-color: #ebecee;
  border-radius: .5em;
  padding: 15px;
  cursor: move;
}


.container_win_l_drop{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 10fr));
  gap: 10px;
  margin-top: 20px;

  margin-right: 320px; /* add margin equal to sidebar width + padding */
  grid-auto-flow: dense; /* Add this property to prevent overlap */
  margin-left: 3px;
  margin-bottom: 20px;


}
.dropbox {
  border: 4px dashed #666;
  background-color: #f5f5f5;
  border-radius: .5em;
  cursor: move;
  padding: 100px;
  position: relative;
  margin-bottom: 10px;
  width: 400px;
  height: 305px;
  padding:0;


}



.dropbox::after {
  content: "Drop Here";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #666;

}


.dropbox.dropped::after {
  display: none;
  z-index:2;

    
}

.dropbox:hover {
  z-index:2;
}



/* l css mtaa l MENU */ 


.menu {
position: absolute;
top: 0;
left: 0;
background: #87b3c7;
width: 240px;
height: 100%;
transform: translate3d(-240px, 0, 0);
transition: transform 0.35s;
background: linear-gradient(-45deg, #a1b2b9, #82c9df );   
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adds a shadow effect */


}
.menu label.menu-toggle {
position: absolute;
right: -60px;
width: 60px;
height: 60px;
line-height: 0px;
display: block;
padding: 100;
text-indent: -9999px;
border-radius: 5%; /* Makes the element circular */
background: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50% / 25px 25px no-repeat;
}

.menu ul li > label {
background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50% / 16px 16px no-repeat;
}
.menu ul li a, .menu ul li label {
display: block;
text-align: center;
padding: 0 20px;
line-height: 60px;
text-decoration: none;
color: #000;
}
.menu ul li a:hover, .menu ul li label:hover {
color: #666;
}

/* hide inputs */
.menu-checkbox {
display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
transform: translate3d(0, 0, 0);
animation: slide 0.35s ease-in-out;
}
@keyframes slide {
    0% { transform: translate3d(-240px, 0, 0); }
    100% { transform: translate3d(0, 0, 0); }
}


.btn {
margin-top: 15%;
margin-left: 55%;
border-radius: 6px;
}




h2 {
font-family: 'Dancing Script', cursive;
font-size: 20px;
margin-bottom: 30px;
  color:black;
  align-items: center;
  padding-left: 80px;

}






/* l save button */

.subbtn{
margin-left: 700px;
position: relative;
margin-top: -2.4rem;    
}

button{
  width: 135px;
  height: 40px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 15px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.check-box{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 0 12px -2px rgba(43, 43, 43, 0.5);
  position: absolute;
  top: 0;
  right: -40px;
  opacity: 0;
}

.check-box svg{
  width: 50px;
  height: 60px;
  margin: -2rem;

}

svg path{
  stroke-width: 3;
  stroke: #fff;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}


.active .check-box{
  right: 0;
  opacity: 1;
  transition: 1s;
}

.active p{
  margin-right: 50px;
  transition: 1s;
}

.active svg path{
  stroke-dashoffset: 0;
  transition: 1s;
  transition-delay: 1s;
}


.activesub {
  background-image: linear-gradient(to right, #354352 0%, #76888d 100%);
  transition: 1s;
  border-radius: 10px;
  font-size: 16px;
  font-family: sans-serif;
  color: #fff;
  cursor: pointer;
}

.activesub:hover {
  background-color: #76888d;
  transition: 1s;
  border-radius: 15px;
  box-shadow: 0 0 5px #ccc;
  color: #fff;
}
.active {
  background-image: linear-gradient(to right, #8298af 0%, #76888d 100%);
  transition: 1s;
  border-radius: 10px;
  font-size: 16px;
  font-family: sans-serif;
  color: #fff;
  cursor: pointer;
}

