button {
    background: var(--nf-input-focus-border-color);
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    padding: 0.5rem;
    border-radius: var(--nf-input-border-radius);
    color: #fff;
    margin-right: 1rem;
    outline: none;
    font-family: var(--nf-input-font-family);
    cursor: pointer;
  }
  
  *, :after, :before {
    box-sizing: inherit;
  }
  html {
    font-size: 16px;
    box-sizing: border-box;
  }
  body {
    background: #f3f0e7;
    font-family: Roboto, sans-serif;
    color: #4b5563;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .demo-page {
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    max-width: 80rem;
  }
  .demo-page .demo-page-navigation {
    width: 18em;
    padding: 2em 1em;
  }
  @media only screen and (max-width: 750px) {
    .demo-page .demo-page-navigation {
      display: none;
    }
  }
  .demo-page .demo-page-navigation nav {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    background: #fff;
    padding: 0.5em;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .demo-page .demo-page-navigation a {
    display: -webkit-flex;
    display: flex;
    padding: 0.75em 1em;
    text-decoration: none;
    border-radius: 0.25em;
    color: #374151;
    -webkit-align-items: center;
    align-items: center;
  }
  .demo-page .demo-page-navigation a:hover {
    background: #f3f4f6;
  }
  .demo-page .demo-page-navigation a svg {
    width: 1.25em;
    height: 1.25em;
    margin-right: 1em;
    color: #1f2937;
  }
  .demo-page .demo-page-content {
    padding: 2em 1em;
    max-width: 100%;
  }
  @media only screen and (min-width: 750px) {
    .demo-page .demo-page-content {
      width: calc(100% - 18em);
    }
  }
  footer {
    text-align: center;
    margin: 2.5em 0;
  }
  .href-target {
    position: absolute;
    top: -2em;
  }
  .to-repo, .to-reset {
    display: -webkit-inline-flex;
    display: inline-flex;
    background: #24292e;
    color: #fff;
    border-radius: 5px;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-align-items: center;
    align-items: center;
    transition: background 0.2s ease-out;
  }
  .to-repo:hover, .to-reset:hover {
    background: #000;
  }
  .to-repo svg, .to-reset svg {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.75em;
  }
  .to-reset {
    background: #3b4ce2;
  }
  .to-reset:hover {
    background: #2538df;
  }
  .sectionbox {
    background: #fff;
    padding: 2em;
    border-radius: 0.75rem;
    line-height: 1.6;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    font-size: 0.875rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .sectionbox h1 {
    font-weight: 500;
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 0.75rem;
  }
  .sectionbox h1 svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -10%;
    margin-right: 0.25em;
  }
  .sectionbox h1.package-name {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    margin-top: -0.5rem;
  }
  .sectionbox strong {
    font-weight: 500;
    color: #000;
  }
  .sectionbox p {
    margin: 0.5rem 0 1.5rem;
  }
  .sectionbox p a {
    text-decoration: none;
    font-weight: 500;
    color: #3b4ce2;
  }
  .sectionbox p:last-child {
    margin-bottom: 0;
  }
  .sectionbox code {
    font-weight: 500;
    font-family: Consolas, monaco, monospace;
    position: relative;
    z-index: 1;
    margin: 0 2px;
    background: #f3f4f4;
    content: "";
    border-radius: 3px;
    padding: 2px 5px;
    white-space: nowrap;
  }
  .sectionbox ul {
    margin-top: 0.5em;
    padding-left: 1em;
    list-style-type: disc;
  }
  details {
    background: #f1f1f1;
    margin: 2em -2em -2em;
    padding: 1.5em 2em;
  }
  details .gist {
    margin-top: 1.5em;
  }
  details .toggle-code {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-left: 2rem;
    font-size: 0.875rem;
    background: #10b981;
    top: 1em;
    right: 1em;
    color: #fff;
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  details .toggle-code:hover {
    background: #0ea271;
  }
  details .toggle-code svg {
    display: inline-block;
    vertical-align: -15%;
    margin-right: 0.25em;
  }
  details summary {
    outline: none;
    list-style-type: none;
  }
  details summary::marker {
    display: none;
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  .nice-form-group>input[type=email],
  .nice-form-group>input[type=text],
  .nice-form-group>select,
  .nice-form-group>textarea {
      background: var(--nf-input-background-color);
      font-family: inherit;
      font-size: var(--nf-input-font-size);
      border-bottom-width: var(--nf-input-border-width);
      font-family: var(--nf-input-font-family);
      box-shadow: none;
      border-radius: var(--nf-input-border-radius);
      border: var(--nf-input-border-width) var(--nf-input-border-style) var(--nf-input-border-color);
      border-bottom: var(--nf-input-border-bottom-width) var(--nf-input-border-style) var(--nf-input-border-color);
      color: var(--nf-input-color);
      width: 100%;
      padding: calc(var(--nf-input-size)*0.75);
      height: calc(var(--nf-input-size)*2.75);
      line-height: normal;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: all 0.15s ease-out;
      --icon-padding: calc(var(--nf-input-size)*2.25);
      --icon-background-offset: calc(var(--nf-input-size)*0.75);
  }
  
 



.nice-form-group>input[type=email]:focus,
.nice-form-group>input[type=text]:focus,
.nice-form-group>select:focus,
.nice-form-group>textarea:focus {
	outline: none;
	border-color: var(--nf-input-focus-border-color);
}




.nice-form-group>input[type=email]:-webkit-autofill,
.nice-form-group>input[type=text]:-webkit-autofill,
.nice-form-group>select:-webkit-autofill,
.nice-form-group>textarea:-webkit-autofill {
	padding: calc(var(--nf-input-size)*0.75) !important;
}
.nice-form-group {
	--nf-input-size: 1rem;
	--nf-input-font-size: calc(var(--nf-input-size)*0.875);
	--nf-small-font-size: calc(var(--nf-input-size)*0.875);
	--nf-input-font-family: inherit;
	--nf-label-font-family: inherit;
	--nf-input-color: #20242f;
	--nf-input-border-radius: 0.25rem;
	--nf-input-placeholder-color: #929292;
	--nf-input-border-color: #c0c4c9;
	--nf-input-border-width: 1px;
	--nf-input-border-style: solid;
	--nf-input-border-bottom-width: 2px;
	--nf-input-focus-border-color: #3b4ce2;
	--nf-input-background-color: #f9fafb;
	--nf-invalid-input-border-color: var(--nf-input-border-color);
	--nf-invalid-input-background-color: var(--nf-input-background-color);
	--nf-invalid-input-color: var(--nf-input-color);
	--nf-valid-input-border-color: var(--nf-input-border-color);
	--nf-valid-input-background-color: var(--nf-input-background-color);
	--nf-valid-input-color: inherit;
	--nf-invalid-input-border-bottom-color: red;
	--nf-valid-input-border-bottom-color: green;
	--nf-label-font-size: var(--nf-small-font-size);
	--nf-label-color: #374151;
	--nf-label-font-weight: 500;
	--nf-slider-track-background: #dfdfdf;
	--nf-slider-track-height: 0.25rem;
	--nf-slider-thumb-size: calc(var(--nf-slider-track-height)*4);
	--nf-slider-track-border-radius: var(--nf-slider-track-height);
	--nf-slider-thumb-border-width: 2px;
	--nf-slider-thumb-border-focus-width: 1px;
	--nf-slider-thumb-border-color: #fff;
	--nf-slider-thumb-background: var(--nf-input-focus-border-color);
	display: block;
	margin-top: calc(var(--nf-input-size)*1.5);
	line-height: 1;
	white-space: nowrap;
	--switch-orb-size: var(--nf-input-size);
	--switch-orb-offset: calc(var(--nf-input-border-width)*2);
	--switch-width: calc(var(--nf-input-size)*2.5);
	--switch-height: calc(var(--nf-input-size)*1.25 + var(--switch-orb-offset));
}

.nice-form-group>label {
	font-weight: var(--nf-label-font-weight);
	display: block;
	color: var(--nf-label-color);
	font-size: var(--nf-label-font-size);
	font-family: var(--nf-label-font-family);
	margin-bottom: calc(var(--nf-input-size)/2);
	white-space: normal;
}

.nice-form-group>label+small {
	font-style: normal;
}
.nice-form-group small {
	font-family: var(--nf-input-font-family);
	display: block;
	font-weight: 400;
	opacity: 0.75;
	font-size: var(--nf-small-font-size);
	margin-bottom: calc(var(--nf-input-size)*0.75);
}

.nice-form-group small:last-child {
	margin-bottom: 0;
}

.nice-form-group>legend {
	font-weight: var(--nf-label-font-weight);
	display: block;
	color: var(--nf-label-color);
	font-size: var(--nf-label-font-size);
	font-family: var(--nf-label-font-family);
	margin-bottom: calc(var(--nf-input-size)/5);
}

.nice-form-group>.nice-form-group {
	margin-top: calc(var(--nf-input-size)/2);
}


.nice-form-group>input[type=text],
.nice-form-group>input[type=email],
.nice-form-group>select,
.nice-form-group>textarea {
	background: var(--nf-input-background-color);
	font-family: inherit;
	font-size: var(--nf-input-font-size);
	border-bottom-width: var(--nf-input-border-width);
	font-family: var(--nf-input-font-family);
	box-shadow: none;
	border-radius: var(--nf-input-border-radius);
	border: var(--nf-input-border-width) var(--nf-input-border-style) var(--nf-input-border-color);
	border-bottom: var(--nf-input-border-bottom-width) var(--nf-input-border-style) var(--nf-input-border-color);
	color: var(--nf-input-color);
	width: 100%;
	padding: calc(var(--nf-input-size)*0.75);
	height: calc(var(--nf-input-size)*2.75);
	line-height: normal;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.15s ease-out;
	--icon-padding: calc(var(--nf-input-size)*2.25);
	--icon-background-offset: calc(var(--nf-input-size)*0.75);
}


details .toggle-code#add{
    background: #20242f;
}

.delete-icon-container {
    width: 30px; /* Adjust the dimensions to create a circle or a box */
    height: 30px;
    border-radius: 50%; /* For a circle shape */
    /* OR */
    /* border-radius: 4px; */ /* For a box shape */
    background-color: #f44336; /* Apply a background color to the container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-icon-container svg {
    color: #ffffff; /* Apply a color to the icon */
  }
  


  .nice-form-group .delete-icon-container {
    margin-left: 10px;
  }
  .active-icon-container {
    width: 30px; /* Adjust the dimensions to create a circle or a box */
    height: 30px;
    border-radius: 50%; /* For a circle shape */
    /* OR */
    /* border-radius: 4px; */ /* For a box shape */
    background-color: #36f49b; /* Apply a background color to the container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .active-icon-container svg {
    color: #ffffff; /* Apply a color to the icon */
  }
